$primary: #d6ca98;
$secondary: #fff7d8;
$black: #222;
$white: #eee;
$gutter-sm: 2vw;
$gutter-lg: $gutter-sm * 2;
$font-primary: 'helvetica';
$border-radius: 3px;

body {
  font-family: $font-primary;
  text-align: center;

  .list {
    background: grey;
    width: 100%;
  }
  .expenseContainer {
    display: inline;
  }
}
